/* Applies to the whole page*/
* {
    box-sizing: border-box; /* Boxes will be the defined size and add padding, margins and borders on after*/
    padding: 0; /*all items will have 0 padding by default*/ 
    margin: 0; /*all items will have 0 margin by default */
}
/*Applies to the whole body*/
body {
    background-color: #d9dcd6; /* Background is Grey*/
}
/* Header section begins*/
/*Applies to the Header class*/
.header {
    padding: 20px; /* Padding of 20px is added*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /* Font will show based on if it works with the browser or not. Starting left to right.*/
    background-color: #2a607c; /* Background Color is cyan*/
    color: #ffffff; /* Color is white */
}
/*Applies to all the h1 in te header class*/
.header h1 {
    display: inline-block; /* Items will be displayed horizontally*/
    font-size: 48px; /*Font will be 48px */
}
/*Applies to the h1 elements in the header class,
and all of the seo class*/
.header h1 .seo {
    color: #d9dcd6;
}
/*Applies to all the divs in the header class*/
.header div {
    padding-top: 15px; /* makes padding 15px*/
    margin-right: 20px; /*margin on the right is 20px */
    float: right; /* all items will prefer to be on the right side*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /* deines the font family*/
    font-size: 20px; /* font will be 20px */
}
/*Applies to all unordered list in the divs that have the header class*/
.header div ul {
    list-style-type: none; /* no list marker is shown*/
}
/*Applies to all the list items within unordered lists within divs with the header class*/
.header div ul li {
    display: inline-block; /* Items will be listed horizontallyk*/
    margin-left: 25px; /* Applues a margin to the left side with 25px */
}
/*End of Header Section*/
/*Applies to all links*/
a {
    color: #ffffff; /* color will be whit */
    text-decoration: none; /* text decoration is resert to default*/
}
/*Applies to all paragraphs*/
p {
    font-size: 16px; /* font is 16px */
}
/*Beginning of Hero Section */
/*Applies to all within the hero class*/
.hero {
    height: 800px; /* Height is 800px of its given space*/
    width: 100%; /* width is 100%  of its given space*/
    margin-bottom: 25px; /* adds a margin of 25px */
    background-image: url("../images/digital-marketing-meeting.jpg"); /* adds a picture to the background*/
    background-size: cover; /* makes the background image cover the whole area*/
    background-position: center;/* Will center the background position */
}
/* End of hero Section*/
/* Begining of content section*/
/* Applies to all with the content class*/
.content {
    width: 75%; /* the width is 75% of it's given space*/
    display: inline-block;/* items will be displayed horizontally*/
    margin-left: 20px;/*adds a 20px margin to the left*/
}
/*Applies to all divs withing the Content Class */
.content div {
    margin-bottom: 20px; /* adds a *margin to the bottom of 20px*/
    padding: 50px; /* Adds padding of 50px*/
    height: 300px; /* Height is 300px*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /*Font will show based on if it works with the browser or not. Starting left to right. */
    background-color: #0072bb; /*Makes The Background cyan */
    color: #ffffff; /* Makes the color white*/
}
/* Applies to all the images within the divs with the content class*/
.content div img {
    max-height: 200px; /* establishes the main height as 20px */
}
/* Applies to all h2 elements within divs with the content class */
.content div h2 {
    margin-bottom: 20px; /* adds a margin to the bottom that's 20px*/
    font-size: 36px; /* Font size is 36px*/
}
/* Applies to all elements with the l class within the Content class*/
.content .l {
    float: left; /* all items will prefer to be on the left side*/
    margin-right: 25px; /* adds a margin on the right that's 25px*/
}
/*Applies to all elements with the r class within the Content Class*/
.content .r{
    float: right; /* all items will prefer to be on the right side*/
    margin-left: 25px; /*adds a margin to the left that's 25px*/
}
/* End of the Content Section*/
/* Begining of the Benefits section */
/*applies to all with the benefits class*/
.benefits {
    margin-right: 20px; /* adds a mrgin to the right side that is 20px */
    padding: 20px; /* adds padding that is 20px */
    clear: both; /* content is pushed below both float right and left */
    float: right; /*  all items will prefer to be on the right side */
    width: 20%;/* width is 20% of the given space */
    height: 100%;/* height is the 100% of the given space*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /* Defines the Font Family */
    background-color: #2589bd; /* background color is cyan */
}
/* Applies to all within the divs within the benefit class*/
.benefit div{
    margin-bottom: 32px; /* adds a margin to the bottom of 32px */
    color: #ffffff /*color is white*/
}
/* Applies to all h3 elements within the benefit class*/
.benefit h3{
    margin-bottom: 10px ; /* margin on the bottom is 10px */
    text-align: center; /* text is aligned to the center */
}
/* Applies to all img within the benefit class*/
.benefit img {
    display: block; /* Displays element as a block */
    margin: 10px auto; /* adds a margin of 10px to the top and the rest are auto */
    max-width: 150px; /* deines the max width as 150px*/
}
/* End of Benifits Section*/
/*Beginning of Footer Section*/
/* applies to all the foot class*/
.footer {
    padding: 30px; /* Padding is 30px */
    clear: both; /* is below both float right and float left*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /*Font will show based on if it works with the browser or not. Starting left to right.*/
    text-align: center; /*  aligns all text to center */
}
/* Applies too all the h2 elements in the footer section*/
.footer h2 {
    font-size: 20px; /* font size is 20px */
}
/*end of footser section*/